.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-name {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.header-underline {
  height: 2px;
  background-color: #444;
  margin-top: 10px;
  width: 100%;
}
